@import "tailwindcss";
@import "./reset.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1f2937;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@layer base {
  .btn {
    @apply text-base px-5 py-2 rounded-md font-semibold bg-slate-600/20 text-slate-400 transition-colors;

    &:disabled {
      @apply cursor-auto opacity-50;
    }

    &:not(:disabled) {
      &:hover {
        @apply bg-slate-600/20;

        &.btn-green {
          @apply bg-green-600/20;
        }

        &.btn-blue {
          @apply bg-blue-700/30;
        }

        &.btn-red {
          @apply bg-red-600/20;
        }

        &.btn-orange {
          @apply bg-orange-600/20;
        }
      }
    }

    &.btn-green {
      @apply bg-green-600/20 text-green-600;
    }

    &.btn-blue {
      @apply bg-blue-700/20 text-blue-400;
    }

    &.btn-red {
      @apply bg-red-600/10 text-red-600;
    }

    &.btn-orange {
      @apply bg-orange-600/10 text-orange-600;
    }
  }
}

button {
  cursor: pointer;
}
